<aside class="sidebar static">
    <div id="sidebar">
        <div style="text-align: center;">

        </div>
        <div style="text-align: center;">
            <h3>Shortcuts</h3>
        </div>
        <ul class="nave_bar">
            <li class="sidebar_item">
                <a class="sidebar_item_text" href="/">Main Menu</a>
            </li>

            <li class="sidebar_item">
                <a class="sidebar_item_text" href="/dares">All Dares</a>
            </li>

            <li class="sidebar_item">
                <a class="sidebar_item_text" href="/completed">All Completed</a>
            </li>

            <li class="sidebar_item">
                <a class="sidebar_item_text" href="/ranking">Ranking</a>
            </li>

            <li class="sidebar_item">
                <a class="sidebar_item_text" href="/allUsers">All Users</a>
            </li>

            <li class="sidebar_item">
                <a class="sidebar_item_text" href="/friends">Friends/Requests</a>
            </li>

            <li class="sidebar_item">
                <a class="sidebar_item_text" href="/messages">Messages</a>
            </li>

        </ul>
    </div>
</aside>