* {
    background-color: black;
    color: white;
}

#login_div {
    /* border: red solid 2px; */
    margin: auto;
    max-width: 400px;
    margin-top: 100px;

    border-bottom: 2px rgb(72, 209, 68) dotted;
    border-top: 2px rgb(72, 209, 68) dotted;
}

#login_button {
    background-color: rgb(174, 248, 0);
    color: white;
    width: 85px;
    height: 35px;
    border-radius: 50px;
    margin-top: 30px;
}
#login_button:hover {
    cursor: pointer;
}

#login_button_text {
    color: black;
    font-weight: bold;
    background-color: rgb(174, 248, 0);
}

#login_text {
    text-align: center;
    color: rgb(72, 209, 68);
    font-size: 32px;
}

.login_inputs {
    margin: auto;
}